@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-m-plus-rounded-1c), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
